{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Explorer & Teams</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="buttons">
                <button onclick="showFileExplorer()">
                    <i class="fas fa-folder"></i> File Explorer
                </button>
                <button onclick="openTeams()">
                    <i class="fab fa-microsoft"></i> Microsoft Teams
                </button>
                <button onclick="openPowerpoint()">
                    <i class="fas fa-file-powerpoint"></i> Microsoft PowerPoint
                </button>
                <button onclick="openExcel()">
                    <i class="fa-solid fa-file-excel"></i> Microsoft Excel
                </button>
            </div>
        </div>
        <div id="file-explorer" class="content">
            <div class="header">File Explorer</div>
            <div class="nav-buttons">
                <button onclick="goBack()" id="back-button" disabled><i class="fas fa-arrow-left"></i></button>
                <button onclick="goForward()"><i class="fas fa-arrow-right"></i></button>
                <button onclick="refresh()"><i class="fas fa-sync-alt"></i></button>
            </div>
            <div class="file-list-container">
                <div class="file-list" id="file-tree"></div>
            </div>
            <div class="file-preview">
                <div id="file-preview" class="preview"></div>
            </div>
        </div>
        <div id="teams" class="content">
            <div class="header">Microsoft Teams</div>
            <div id="teams-controls" class="main">
                <button onclick="fetchContacts()">
                    <i class="fas fa-address-book"></i> Show Contacts
                </button>
                <button id="call-button" onclick="handleCall()" style="display: none;">
                    <i class="fas fa-phone"></i> Call
                </button>
                <div id="contacts-container" class="contacts-list" style="display: none;"></div>
            </div>
        </div>
        <div id="powerpoint" class="content">
            <div class="header">Microsoft PowerPoint</div>
            <div id="presentation-list-container" class="main" style="display: none;">
                <h3>Select a Presentation</h3>
                <ul id="presentation-list"></ul>
            </div>
            <div id="powerpoint-controls" class="main" style="display: none;">
                <button onclick="prevSlide()">
                    <i class="fas fa-arrow-left"></i>
                </button>
                <button onclick="nextSlide()">
                    <i class="fas fa-arrow-right"></i>
                </button>
                <button onclick="startPresentation()">
                    <i class="fa-solid fa-play"></i>
                </button>
                <button onclick="endPresentation()">
                    <i class="fa-solid fa-square"></i>
                </button>
            </div>
        </div>
        <div id="excel" class="content">
            <div class="header">Microsoft Excel</div>
            <div id="workbook-list-container" class="main" style="display: none;">
                <h3>Select a Workbook</h3>
                <ul id="workbook-list"></ul>
            </div>
            <div id="excel-controls" class="main" style="display: none;">
                <button onclick="scrollLeft()">
                    <i class="fas fa-arrow-left"></i>
                </button>
                <button onclick="scrollRight()">
                    <i class="fas fa-arrow-right"></i>
                </button>
                <button onclick="scrollUp()">
                    <i class="fas fa-arrow-up"></i>
                </button>
                <button onclick="scrollDown()">
                    <i class="fas fa-arrow-down"></i>
                </button>
                <button onclick="previousWorksheet()">
                    <i class="fa-solid fa-angles-left"></i>
                </button>
                <button onclick="nextWorksheet()">
                   <i class="fa-solid fa-angles-right"></i>
                </button>
                <button onclick="zoomIn()">
                    <i class="fa-solid fa-magnifying-glass-plus"></i>
                </button>
                <button onclick="zoomOut()">
                    <i class="fa-solid fa-magnifying-glass-minus"></i>
                </button>
                <button onclick="closeWorkbook()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </div>
        <div id="partition-selection" class="partition-selection">
            <h2>Select Partition</h2>
            <button onclick="selectPartition('C:/')">C Partition</button>
            <button onclick="selectPartition('D:/')">D Partition</button>
        </div>
    </div>

    <script src="{% static 'js/scripts.js' %}"></script>

</body>
</html>
